#search-box {
  visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  // background: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  .container {
    display: table;
    width: 100%;
    height: 100%;

    .close {
      position: absolute;
      right: 32px;
      top: 32px;
      width: 32px;
      height: 32px;
      color: #000;
    }

    .close:hover {
      opacity: 1;
    }

    .close:before,
    .close:after {
      position: absolute;
      left: 15px;
      content: " ";
      height: 33px;
      width: 2px;
      background-color: #000;
    }

    .close:before {
      transform: rotate(45deg);
    }

    .close:after {
      transform: rotate(-45deg);
    }

    .search-main {
      display: table-cell;
      // vertical-align: middle;
      padding-top: 150px;
      .search-inner {
        width: 80%;
        margin: 0 auto;
      }

      form {
        position: relative;
      }

      input {
        background: transparent;
        border: none;
        box-shadow: none;
        padding: 12px 74px 12px 0;
        font-size: 18px;
        // height: 84px;
        border-bottom: 2px solid #000;
        display: block;
        color: #000;
        margin-bottom: 0;
        width: 100%;
        transform: scale3d(0, 1, 1);
        transform-origin: 0% 50%;
        transition: transform 3s;
        &:focus {
          outline: none;
        }
      }

      button {
        border: 0;
        left: auto;
        outline: none;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0.3em;
        bottom: 0.3em;
        background: transparent;
        font-size: 43px;
      }

      .search-info {
        display: block;
        color: #ddd;
        text-align: right;
        float: right;
        margin-top: 4px;
      }
    }
  }

  &.-open {
    background: #fff;
    visibility: visible;
    animation: fadein 0.8s;
    .container {
      .search-main {
        input {
          transform: scale3d(1, 1, 1);
          transition-duration: 1s;
          //transition-delay: 2s;
        }
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
