
.custom-scrollbar::-webkit-scrollbar {
    height: 4px; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 3px; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
  }
  